<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="Module 1 Tests">
        <classes>
            <class name="MODULES.WAVE3.AdvancePassengerInfo.AdvancePassengerInfo"/>
            <class name="MODULES.WAVE3.AirInventoryService.AirInventoryService"/>
            <class name="MODULES.WAVE3.AirportPassengerList.AirportPassengerList"/>
            <class name="MODULES.WAVE3.Availability.Availability"/>
            <class name="MODULES.WAVE3.Checkin.Checkin"/>
            <class name="MODULES.WAVE3.CreateBookingService.CreateBookingService"/>
            <class name="MODULES.WAVE3.DepartureControlService.DepartureControlService"/>
            <class name="MODULES.WAVE3.DisplayBookingService.DisplayBookingService"/>
            <class name="MODULES.WAVE3.DisplayTicketService.DisplayTicketService"/>
            <class name="MODULES.WAVE3.FlifoService.FlifoService"/>
            <class name="MODULES.WAVE3.ManageSessions.ManageSessions"/>
            <class name="MODULES.WAVE3.ModifyBookingService.ModifyBookingService"/>
            <class name="MODULES.WAVE3.ModifyInventoryService.ModifyInventoryService"/>
            <class name="MODULES.WAVE3.QueueService.QueueService"/>
            <class name="MODULES.WAVE3.ScreenTextService.ScreenTextService"/>
            <class name="MODULES.WAVE3.SeatMapService.SeatMapService"/>
            <class name="MODULES.WAVE3.AirScheduleService.AirScheduleService"/>
            <class name="MODULES.WAVE3.TicketingService.TicketingService"/>
            <class name="MODULES.WAVE3.FlightDepartureInfoService.FlightDepartureInfoService"/>
            <class name="MODULES.WAVE3.AuthorizationService.AuthorizationService"/>
            <class name="MODULES.WAVE3.EMDAirlineSystemUpdate.EMDAirlineSystemUpdate"/>
            <class name="MODULES.WAVE3.EncodeDecodeService.EncodeDecodeService"/>
            <class name="MODULES.WAVE3.ModifyTicketingService.ModifyTicketingService"/>
            <class name="MODULES.WAVE3.TicketControlService.TicketControlService"/>
            <class name="MODULES.WAVE3.DisplayLoyaltyAccountService.DisplayLoyaltyAccountService"/>
            <class name="MODULES.WAVE3.ReferenceService.ReferenceService"/>
            <class name="MODULES.WAVE3.TimaticService.TimaticService"/>
            <class name="MODULES.WAVE3.PassengerListService.PassengerListService"/>

<!--            <class name="MODULES.WAVE3.CreateBooking41Service.CreateBooking41Service"/> test-->
<!--            <class name="MODULES.WAVE3.DisplayBooking41Service.DisplayBooking41Service"/>-->
<!--            <class name="MODULES.WAVE3.DisplayTicket41Service.TestRunner"/>-->
<!--            <class name="MODULES.WAVE3.ModifyBooking41Service.TestRunner"/>-->

        </classes>
    </test>
</suite>